<a href="https://colab.research.google.com/github/zeevgetner/Kaggle_H_M_Israel/blob/main/Zeev_test_notebook" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notebook for H_m project**

In [6]:
print ("Importing stuff")
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from pandas.io.json import json_normalize
from pprint import pprint
from pathlib import Path
from tqdm import tqdm
tqdm.pandas()
from collections import Counter
from datetime import datetime, timedelta
import pandas as pd
import requests
from io import StringIO

Importing stuff

**Loading Data**

In [12]:
orig_url="https://drive.google.com/file/d/11EYa_GNUkGq438XxofWorwnm2ZKLaIbB/view?usp=sharing"

path = 'https://drive.google.com/uc?export=download&id='+orig_url.split('/')[-2]
df = pd.read_csv(path)

print(df.head())

   article_id  product_code          prod_name  product_type_no  \
0   108775015        108775          Strap top              253
1   108775044        108775          Strap top              253
2   108775051        108775      Strap top (1)              253
3   110065001        110065  OP T-shirt (Idro)              306
4   110065002        110065  OP T-shirt (Idro)              306

  product_type_name  product_group_name  graphical_appearance_no  \
0          Vest top  Garment Upper body                  1010016
1          Vest top  Garment Upper body                  1010016
2          Vest top  Garment Upper body                  1010017
3               Bra           Underwear                  1010016
4               Bra           Underwear                  1010016

  graphical_appearance_name  colour_group_code colour_group_name  ...  \
0                     Solid                  9             Black  ...
1                     Solid                 10             White  ...
2                    Stripe                 11         Off White  ...
3                     Solid                  9             Black  ...
4                     Solid                 10             White  ...

   department_name index_code        index_name index_group_no  \
0     Jersey Basic          A        Ladieswear              1
1     Jersey Basic          A        Ladieswear              1
2     Jersey Basic          A        Ladieswear              1
3   Clean Lingerie          B  Lingeries/Tights              1
4   Clean Lingerie          B  Lingeries/Tights              1

   index_group_name section_no            section_name garment_group_no  \
0        Ladieswear         16  Womens Everyday Basics             1002
1        Ladieswear         16  Womens Everyday Basics             1002
2        Ladieswear         16  Womens Everyday Basics             1002
3        Ladieswear         61         Womens Lingerie             1017
4        Ladieswear         61         Womens Lingerie             1017

   garment_group_name                                        detail_desc
0        Jersey Basic            Jersey top with narrow shoulder straps.
1        Jersey Basic            Jersey top with narrow shoulder straps.
2        Jersey Basic            Jersey top with narrow shoulder straps.
3   Under-, Nightwear  Microfibre T-shirt bra with underwired, moulde...
4   Under-, Nightwear  Microfibre T-shirt bra with underwired, moulde...

[5 rows x 25 columns]